@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  overflow-x: hidden;
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494;
}

.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.withoutOptions {
  display: none !important;
  z-index: -10;
}

/* arrow icon */
.downArrow {
  position: absolute;
  left: 0%;
  width: 50px;
}
.downArrow2 {
  position: absolute;
  right: 0%;
  width: 50px;
}

.disabledRow {
  background-color: rgba(219, 219, 219, 0.166);
  color: rgba(128, 128, 128, 0.466);
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* .item-group {
  --xyz-rotate-z: 1turn;
  --xyz-origin: center -200%;
  --xyz-duration: 2s;
  --xyz-scale-x: 0;
  --xyz-scale-y: 0;
} */

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.swingimage {
  -webkit-transform-origin: 50% 0;
  transform-origin: 35% 15%;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.shakeIcon {
  animation: horizontal-shaking 0.35s infinite;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-5px);
  }
  35% {
    transform: translateY(-5px) rotate(17deg);
  }
  55% {
    transform: translateY(-5px) rotate(-17deg);
  }
  65% {
    transform: translateY(-5px) rotate(17deg);
  }
  75% {
    transform: translateY(-5px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
